<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue W3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
    />
  </head>
  <body>
    <div id="app">
      <form v-on:submit.prevent="addItem">
        <p>Add item</p>
        <p>Item name: <input type="text" required v-model="itemName" /></p>
        <p>How many: <input type="number" v-model="itemNumber" /></p>
        <p>Important: <input type="checkbox" v-model="inmportant" /></p>
        <button type="submit">Add item</button>
      </form>
      <p>Shopping List:</p>
      <ul>
        <li v-for="item in shoppingList">
          {{ item.name }}: {{ item.number }} - {{ item.important }}
        </li>
      </ul>
    </div>
    <script src="02_app.js"></script>

    <style>
      .red {
        color: rgb(52, 52, 52);
      }
      .blue {
        color: blue;
      }
      .green {
        color: green;
      }
    </style>
  </body>
</html>
