<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue W3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
    />
  </head>
  <body>
    <div id="app">
      <p v-if="text.includes('mario')">Mario is here</p>
      <p v-else>Where is Mario</p>
      <p v-show="showBro">Luigi</p>
      <ul>
        <li v-for="(person, index) in nameList">
          {{ index + ': ' + person.name + ' ' + person.age}}
        </li>
      </ul>
      <button v-on:click="mossCount++">Count</button>
      <input type="text" v-on:input="mossCount++" />
      <p v-on:mouseover="changeColor()" :style="{'color': textColor} ">
        {{ 'Count: ' + mossCount }}
      </p>
    </div>
    <script src="02_app.js"></script>

    <style>
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
      .green {
        color: green;
      }
    </style>
  </body>
</html>
