<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <form>
          <fieldset>
            <legend>Login</legend>
            <label for="username">Username</label>
            <br />
            <input
              type="text"
              name="username"
              placeholder="..."
              v-model="username"
            />
            <br />
            <label for="password">Password</label>
            <br />
            <input
              type="password"
              name="password"
              placeholder="..."
              v-model="password"
            />
            <br />
            <button class="primary" @click="checkCredentials($event)">
              Login
            </button>
          </fieldset>
        </form>
        <p>{{ feedback }}</p>
        <p>Feedback...</p>
        <ul>
          <li v-for="user in users" :key="user.name">
            <a @click="changeUser(user.name)">{{ user.name }}</a>
          </li>
        </ul>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
